@model GalerieKusVola.ViewModels.ProcessUploadedPhotosVM

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")

    <script>

        $(function() {
            var uploadedPhotos = $("#photos");
            uploadedPhotos.selectable();
        });
        
        function addSelectedPhotosToGallery(destinationGalleryId) {
            //var destArea = $("#txt-" + destinationGalleryId);
            var destHidden = $("#addedPhotos-" + destinationGalleryId);

            var photosAdded = 0;

            $("li.ui-selected").each(function () {
                var fotoId = $(this).attr("data-photoId");
                
                if(!checkIfPhotoAlreadyIn(destHidden, fotoId)) {
                    //destArea.append("[" + fotoId + "],");
                    var photosIn = destHidden.attr("value");
                    photosIn = photosIn + fotoId + ",";
                    destHidden.attr("value", photosIn);
                    photosAdded++;
                    updateCounter(destinationGalleryId, photosAdded);
                } else {
                    //photo is already assigned to a gallery
                    //alert("ALREADY IN");
                }
                
                $(this).removeClass("ui-selected");
            });
        }
        
        function updateCounter(galleryId, count) {
            $("#gal-newCounter-" + galleryId).empty().html(count);
        }
        
        
        function checkIfPhotoAlreadyIn(destHidden, photoName) {
            var photosIn = destHidden.attr("value");
            
            if(photosIn.indexOf(photoName) >= 0) {
                return true;
            }

            return false;
        }


    /* 
   $(function () {

	    var $gallery = $("#photos");
	    var $trash = $("#trash");
	    //var $targetGalleries = $("")

		// let the gallery items be draggable
		$( "li", $gallery ).draggable({
			cancel: "a.ui-icon", // clicking an icon won't initiate dragging
			revert: "invalid", // when not dropped, the item will revert back to its initial position
			//containment: $( "#demo-frame" ).length ? "#demo-frame" : "document", // stick to demo-frame if present
			helper: "clone",
			cursor: "move"
		});

		// let the trash be droppable, accepting the gallery items
		$trash.droppable({
			accept: "#gallery > li",
			activeClass: "ui-state-highlight",
			drop: function( event, ui ) {
				deleteImage( ui.draggable );
			}
		});

		// let the gallery be droppable as well, accepting items from the trash
		$gallery.droppable({
			accept: "#trash li",
			activeClass: "custom-state-active",
			drop: function( event, ui ) {
				recycleImage( ui.draggable );
			}
		});

		// image deletion function
		var recycle_icon = "<a href='link/to/recycle/script/when/we/have/js/off' title='Recycle this image' class='ui-icon ui-icon-refresh'>Recycle image</a>";
		function deleteImage( $item ) {
			$item.fadeOut(function() {
				var $list = $( "ul", $trash ).length ?
					$( "ul", $trash ) :
					$( "<ul class='gallery ui-helper-reset'/>" ).appendTo( $trash );

				$item.find( "a.ui-icon-trash" ).remove();
				$item.append( recycle_icon ).appendTo( $list ).fadeIn(function() {
					$item
						.animate({ width: "48px" })
						.find( "img" )
							.animate({ height: "36px" });
				});
			});
		}

		// image recycle function
		var trash_icon = "<a href='link/to/trash/script/when/we/have/js/off' title='Delete this image' class='ui-icon ui-icon-trash'>Delete image</a>";
		function recycleImage( $item ) {
			$item.fadeOut(function() {
				$item
					.find( "a.ui-icon-refresh" )
						.remove()
					.end()
					.css( "width", "96px")
					.append( trash_icon )
					.find( "img" )
						.css( "height", "72px" )
					.end()
					.appendTo( $gallery )
					.fadeIn();
			});
		}

		// image preview function, demonstrating the ui.dialog used as a modal window
		function viewLargerImage( $link ) {
			var src = $link.attr( "href" ),
				title = $link.siblings( "img" ).attr( "alt" ),
				$modal = $( "img[src$='" + src + "']" );

			if ( $modal.length ) {
				$modal.dialog( "open" );
			} else {
				var img = $( "<img alt='" + title + "' width='384' height='288' style='display: none; padding: 8px;' />" )
					.attr( "src", src ).appendTo( "body" );
				setTimeout(function() {
					img.dialog({
						title: title,
						width: 400,
						modal: true
					});
				}, 1 );
			}
		}

		// resolve the icons behavior with event delegation
		$( "ul.gallery > li" ).click(function( event ) {
			var $item = $( this ),
				$target = $( event.target );

			if ( $target.is( "a.ui-icon-trash" ) ) {
				deleteImage( $item );
			} else if ( $target.is( "a.ui-icon-zoomin" ) ) {
				viewLargerImage( $target );
			} else if ( $target.is( "a.ui-icon-refresh" ) ) {
				recycleImage( $item );
			}

			return false;
		});
	});*/
	</script>
}

<h2>Fotky čekající na zpracování</h2>

<div class="two-cols ui-widget ui-helper-clearfix">
    <div class="col1">
        @if(Model.PhotosWaiting != null && Model.PhotosWaiting.Count > 0)
        {
            <ul id="photos" class="photos ui-helper-reset ui-helper-clearfix">
                @foreach (var photo in Model.PhotosWaiting)
                {
                    <li class="ui-widget-content ui-corner-tr" data-photoId="@photo.Id">
                        <img src="@photo.ThumbPath"/>
                    </li>
                }
            </ul>
        }
    </div>
    
    <div class="col2">
        <form method="POST" action="/admin/ProcessUploadedPhotosCustom">
            @if (Model.Galleries != null && Model.Galleries.Count > 0)
            {
                var rootGallery = Model.Galleries.First(g => g.ParentId == null || g.ParentId == "000000000000000000000000");
    
                <p><strong>@rootGallery.Nazev</strong></p>
    
                @Html.Action("GalleryLeafDroppable", "GalleryLeaf", new { area = "Partials", leafId = rootGallery.Id })
            }
        
            @*<div id="trash" class="ui-widget-content ui-state-default">
	            <h4 class="ui-widget-header"><span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
            </div>*@
            
            <input type="submit" value="Uložit změny"/>
        </form>
    </div>
</div>
<div class="cleaner"></div>





















